.App {
  text-align: center;
  max-width: 1400px;
  margin: auto;
  .App-Body {
    display: flex;
    @media screen and (max-width: 480px) {
      display: block;
    }
    .sidebar-container {
      width: 50%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    .main-container {
      width: 50%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
